### Probability of a random variable(x) taking sum of faces of two dice

In [42]:
d = {(i,j):i+j for i in range(1, 7) for j in range(1, 7)}
print(list(d.items())[::6])

[((1, 1), 2), ((2, 1), 3), ((3, 1), 4), ((4, 1), 5), ((5, 1), 6), ((6, 1), 7)]

In [43]:
from collections import defaultdict
dinv = defaultdict(list)
for k, v in d.items():
    dinv[v].append(k)
print(dinv)

defaultdict(<class 'list'>, {2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]})

x is a random variable which takes sum of faces of two dice.
Also, we can call x as measure function which takes in set of all possible outcomes of two dice and returns the probability of that outcome.

In [44]:
x = {k:len(v)/36 for k, v in dinv.items()} # probability
x, sum(x.values())

({2: 0.027777777777777776,
  3: 0.05555555555555555,
  4: 0.08333333333333333,
  5: 0.1111111111111111,
  6: 0.1388888888888889,
  7: 0.16666666666666666,
  8: 0.1388888888888889,
  9: 0.1111111111111111,
  10: 0.08333333333333333,
  11: 0.05555555555555555,
  12: 0.027777777777777776},
 1.0000000000000002)

### probability of a random variable(y) such the half of the product of three dices exceeds their sum

In [45]:
d = {(i, j, k) : (i*j*k*0.5) > (i+j+k)  for i in range(1, 7) 
                                        for j in range(1, 7) 
                                        for k in range(1, 7)}
print(list(d.items())[::36])

[((1, 1, 1), False), ((2, 1, 1), False), ((3, 1, 1), False), ((4, 1, 1), False), ((5, 1, 1), False), ((6, 1, 1), False)]

In [46]:
dinv = defaultdict(list)
for k, v in d.items():
    dinv[v].append(k)
print(dinv.keys())
print(dinv[True][:10])

dict_keys([False, True])
[(1, 4, 6), (1, 5, 5), (1, 5, 6), (1, 6, 4), (1, 6, 5), (1, 6, 6), (2, 2, 5), (2, 2, 6), (2, 3, 3), (2, 3, 4)]

In [47]:
y = {k:len(v)/216 for k, v in dinv.items()} # probability
y, sum(y.values())

({False: 0.37037037037037035, True: 0.6296296296296297}, 1.0)

### calculate probability using pandas

In [48]:
import pandas as pd

In [50]:
d = pd.DataFrame(index=[(i,j) for i in range(1, 7) for j in range(1, 7)],
                 columns=['sm', 'd1', 'd2', 'pd1', 'pd2', 'p'])
d.head()

         sm   d1   d2  pd1  pd2    p
(1, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 5)  NaN  NaN  NaN  NaN  NaN  NaN

In [51]:
d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]
d.head()

         sm  d1  d2  pd1  pd2    p
(1, 1)  NaN   1   1  NaN  NaN  NaN
(1, 2)  NaN   1   2  NaN  NaN  NaN
(1, 3)  NaN   1   3  NaN  NaN  NaN
(1, 4)  NaN   1   4  NaN  NaN  NaN
(1, 5)  NaN   1   5  NaN  NaN  NaN

In [54]:
d.sm = d.d1 + d.d2  # map(sum, d.index)
d.head()

        sm  d1  d2  pd1  pd2    p
(1, 1)   2   1   1  NaN  NaN  NaN
(1, 2)   3   1   2  NaN  NaN  NaN
(1, 3)   4   1   3  NaN  NaN  NaN
(1, 4)   5   1   4  NaN  NaN  NaN
(1, 5)   6   1   5  NaN  NaN  NaN

    dice 1 has 
    P(1) = 1/9, 
    P(2) = 1/9, 
    P(3) = 1/9, 

    P(4) = 2/9, 
    P(5) = 2/9, 
    P(6) = 2/9

In [58]:
d.loc[d.d1 < 4, 'pd1'] = 1/9
d.loc[d.d1 >= 4, 'pd1'] = 2/9
d.pd2 = 1/6
d.head()

        sm  d1  d2       pd1       pd2    p
(1, 1)   2   1   1  0.111111  0.166667  NaN
(1, 2)   3   1   2  0.111111  0.166667  NaN
(1, 3)   4   1   3  0.111111  0.166667  NaN
(1, 4)   5   1   4  0.111111  0.166667  NaN
(1, 5)   6   1   5  0.111111  0.166667  NaN

In [59]:
d.p = d.pd1 * d.pd2
d.head()

        sm  d1  d2       pd1       pd2         p
(1, 1)   2   1   1  0.111111  0.166667  0.018519
(1, 2)   3   1   2  0.111111  0.166667  0.018519
(1, 3)   4   1   3  0.111111  0.166667  0.018519
(1, 4)   5   1   4  0.111111  0.166667  0.018519
(1, 5)   6   1   5  0.111111  0.166667  0.018519

In [60]:
d.p.sum()

0.9999999999999991

In [62]:
d.groupby('sm')['p'].sum()

sm
2     0.018519
3     0.037037
4     0.055556
5     0.092593
6      0.12963
7     0.166667
8     0.148148
9      0.12963
10    0.111111
11    0.074074
12    0.037037
Name: p, dtype: object

## Marginal densities

In [1]:
from sympy.abc import x, y
from sympy import integrate, simplify

fxy = x + y # joint probability density function
fy = integrate(fxy, (x, 0, 1)) # marginal probability density function
fx = integrate(fxy, (y, 0, 1)) # marginal probability density function
fy, fx

(y + 1/2, x + 1/2)

## conditional expectation

In [2]:
EXY = (3*y + 2) / (6*y+3) # conditional expectation
EXY

(3*y + 2)/(6*y + 3)

LHS = E(X - E(X|Y))^2

In [3]:
LHS = integrate((x-EXY)**2 * fxy, (x, 0, 1), (y, 0, 1))
LHS

1/12 - log(3)/144

RHS = E(X)^2 - E(E(X|Y))^2

In [4]:
RHS = integrate((x)**2 * fx, (x, 0, 1)) - integrate((EXY)**2 * fy, (y, 0, 1))
RHS

1/12 - log(3)/144

In [5]:
simplify(LHS - RHS)

0

There, LHS = RHS. So, E(X - E(X|Y))^2 = E(X)^2 - E(E(X|Y))^2